<footer class="page-footer font-small bg-secondary pt-4">
    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                    <h4 class="text-white">Siga-nos nas redes sociais</h4>
            </div>

            <div class="row">
                <div class="col-md-12 d-flex justify-content-center">
                    <ul class="social-network">
                        <li>
                            <a href="https://www.instagram.com/gabrielmota07/?hl=pt-br" target="_blank" class="fa">
                            <img src="assets/img/instagram.png" alt="" width="25" height="25">
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/gabriel-mota-6620b11b0/" target="_blank" class="fa">
                            <img src="assets/img/linkedin.png" alt="" width="25" height="25">
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-copyright bg-dark text-center py-3">
            <span class="text-light">&copy; 2021 todos os direitos reservados</span>
    </div>

</footer>